<template name="navigation">
    <!-- START X-NAVIGATION VERTICAL -->
    <ul class="x-navigation x-navigation-horizontal">
        <li class="xn-logo">
            <a href="{{pathFor 'fabAssembly'}}"></a>
        </li>
        <li class="xn-openable">
            <a href="{{pathFor 'couponYield'}}"><span class="xn-text">COUPON YIELD</span></a>
        </li>
        <li class="xn-openable">
            <a href="{{pathFor 'fabAssembly'}}"><span class="xn-text">FAB LED EXP</span></a>
        </li>
        <li class="xn-openable">
            <a href="{{pathFor 'fabJasper'}}"><span class="xn-text">FAB JASPER EXP</span></a>
        </li>

    </ul>
    <!-- END X-NAVIGATION VERTICAL -->
</template>
