<template name="navigation">
    <!-- START X-NAVIGATION VERTICAL -->
    <ul class="x-navigation x-navigation-horizontal">
        <li class="xn-logo">
            <a href="{{pathFor 'konica'}}"></a>
            <a href="{{pathFor 'konica'}}" class="x-navigation-control">GLO TOOL</a>
        </li>
        <li class="xn-openable">
            <a href="{{pathFor 'konica'}}"><span class="fa fa-mobile-phone fa-lg"></span> <span class="xn-text">iBLU VISUALIZATION</span></a>
        </li>
        <li class="xn-openable">
            <a href="{{pathFor 'konicacharts'}}"><span class="fa fa-bar-chart-o fa-lg"></span> <span class="xn-text">iBLU/iLGP CHARTS</span></a>
        </li>
        <li class="xn-openable">
            <a href="{{pathFor 'dvd'}}"><span class="fa fa-mobile-phone fa-lg"></span> <span class="xn-text">DVD CHARTS</span></a>
        </li>
        <li class="xn-openable">
            <a href="{{pathFor 'dvdtrends'}}"><span class="fa fa-mobile-phone fa-lg"></span> <span class="xn-text">DVD IF @ 2V</span></a>
        </li>
       <!--  <li class="xn-openable">
            <a href="{{pathFor 'testimages'}}"><span class="fa fa-sun-o fa-lg"></span> <span class="xn-text">TEST CHARTS</span></a>
        </li> -->
    </ul>
    <!-- END X-NAVIGATION VERTICAL -->
</template>
