<template name="navigation">
    <!-- START X-NAVIGATION VERTICAL -->
    <ul class="x-navigation x-navigation-horizontal">
        <li class="xn-logo">
            <a href="{{pathFor 'dashboard'}}"></a>
            <a href="{{pathFor 'dashboard'}}" class="x-navigation-control">GLO TOOL</a>
        </li>
        <li class="xn-openable">
            <a href="{{pathFor 'testVisualization'}}"><span class="fa fa-sun-o fa-lg"></span> <span class="xn-text">TEST VISUALIZATION</span></a>
        </li>
        <li class="xn-openable">
            <a href="{{pathFor 'konicaAnalysis'}}"><span class="fa fa-mobile-phone fa-lg"></span> <span class="xn-text">iBLU VISUALIZATION</span></a>
        </li>
    </ul>
    <!-- END X-NAVIGATION VERTICAL -->
</template>
